<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_number">
    Divide this:
  </label>
  <input id="first_number" name="first_num" text="text">

  <label for="second_numer">
    by this:
  </label>
  <input id="second_numer" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
